@import "tailwindcss";

@font-face {
  font-family: font1;
  src: url(../font/Lausanne-300.woff2);
}

@font-face {
  font-family: font2;
  src: url(../font/Lausanne-500.woff2);
}

body {
  overflow-x: hidden;
}

.moveX {
  animation-name: moveAnimation;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.moveLink{
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease;
}

.hey{
  opacity: 0;
  transition: all 0.2s ease;
}

.Img{
  opacity: 0;
  transition: all 0.2s ease;
}

.link:hover .moveLink {
  max-height: 100%;
}

.link:hover .hey,
.link:hover .Img {
  opacity: 1;
}

@keyframes moveAnimation {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
